body {
	margin-top: 32px;
	margin-bottom: 72px;
}

p {
	margin: 0 0 24px 0;

	&:last-child {
		margin-bottom: 0;
	}
}

blockquote,
q {
	hyphens: none;
	quotes: none;
}
a:link,
a:visited {
	color: $blue-medium;
}
a:hover,
a:active {
	color: $blue-light;
	outline: 0;
}

code {
	background: lighten( $gray, 30% );
	font-family: $code;
	padding: 4px 8px;
}

pre {
	background: lighten( $gray, 34% );
	font-family: $code;
	padding: 8px;

	code {
		background: none;
		padding: 0;
	}
}

// Images and captions
img {
	max-width: 100%;
	height: auto;
}
a img {
	border: 0;
}

.ios img {
	-webkit-user-select: none;
}

.alignleft {
	margin: 16px 16px 16px 0;
}
.alignright {
	margin: 16px 0 16px 16px;
}

.html5-captions .wp-caption {
	background: none;
	box-sizing: border-box;
	border: none;
	margin-bottom: 16px;
	max-width: 100%;
	padding-top: 0;

	&.alignleft {
		margin-right: 16px;
	}

	&.alignright {
		margin-left: 16px;
	}
}

.wp-caption-dt {
	overflow: hidden;
}

/* iOS does not obey max-width if width is set. */
.ios .wp-caption {
	width: auto !important;
}

.wp-caption img {
	display: block;
	margin: 0;
}

.wp-caption-dd {
	padding: 16px;
}

.wpview-body::before {
	content: '';
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	cursor: default;

	.wpview-wrap[data-mce-selected] & {
		display: none;
	}
}

.wpview-wrap iframe {
	display: block;
	width: 100%;
}

.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption {
	border: 1px solid lighten( black, 20 );
}
